/* Goolge Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* === Global ==== */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", Times, serif;
}

a{
    text-decoration: none;
    color: #29D99A;
}
ul{
    list-style: none;
}
.active{
    color: #0ccccc;
    text-decoration: underline;
    font-weight: bold;
}


/* Navbar */
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #29D99A;
}
.nav-links{
    display: flex;
    align-items: center;
 }
.nav-links li{
    margin: 0 30px;
}


/*Home*/
header{
    width: 100vw;
    height: 100vh;
    background-image: url('images/IndexBackground_2.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.header-content{
    margin-bottom: 85px;
    color: #29D99A;
    text-align: center;
    background-color: rgba(61, 60, 60, 0.719);
    border-radius: 10px;
    height: 200px;
    width: 400px;
}
.header-content h1{
    font-size: 7vmin;
    margin-bottom: 10px;
}
.line{
    width: 290px;
    height: 4px;
    background: #d4af37;
    margin: 5px auto;
    border-radius: 5px;
}
.header-content h2{
    font-size: 4vmin;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ctn{
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

/*About*/
.about{
    width: 100vw;
    height: 100vh;
    background-image: url('images/Backgrounds.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.about .max-width{
    margin: auto 0 auto 40px;
}
.h4{
    text-align: center;
    color: #29D99A;
}
.line{
    width: 100px;
    height: 2px;
    background: #d4af37;
    margin-top: 1px;
    margin-bottom: 8px;
    border-radius: 5px;
}
.about .about-content{
    margin-bottom: 200px;
    color: #29D99A;
    text-align: center;
    background-color: rgba(61, 60, 60, 0.719);
    border-radius: 10px;
    height: 200px;
    width: 300px;
    align-items: center;
}
.about .about-content h3{
    padding-top: 20px;
}


/*Profile*/
.profile{
    width: 100vw;
    height: 100vh;
    background-image: url('images/Backgrounds.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.profile .max-width{
    margin: auto 0 auto 40px;
}
.profile .profile-content{
    margin-bottom: 10px;
    color: #29D99A;
    text-align: center;
    background-color: rgba(61, 60, 60, 0.719);
    border-radius: 10px;
    height: 400px;
    width: 300px;
    align-items: center;
}
.profile-content h1{
    font-size: 4vmin;
    margin-bottom: 10px;
}
.line{
    width: 290px;
    height: 4px;
    background: #d4af37;
    margin: 5px auto;
    border-radius: 5px;
}
.profile .profile-content h3{
    padding-top: 20px;
}
.profile .profile-content h3 span{
    color: #d4af37;
}
.profile .profile-content .text{
    color: #d4af37;
}
.ctn{
    top: 30px;
    padding: 8px 15px;
    background: #d4af37;
    border-radius: 30px;
    color: whitesmoke;
}
.ctn:hover{
    background: #0ccccc;
    color: #000;
}


/*Project*/
.project{
    width: 100vw;
    height: 100vh;
    background-image: url('images/Backgrounds.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.logo{
    font-family: "Times New Roman", Times, serif;
}
.container {
    margin-bottom: 90px;
    color: #29D99A;
    text-align: center;
    background-color: rgba(78, 76, 76, 0.904);
    border-radius: 10px;
    height: 300px;
    width: 350px;
    align-items: center;
    box-shadow: 0px 0px 43px 17px #d4af37c5;
}

.buttons {
    display: grid;
    border-radius: 8px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-radius: 6px;
}

.w3-container w3-third {
    border: 0.5px solid #999;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}



/*Contact*/
.contact{
    width: 100vw;
    height: 100vh;
    background-image: url('images/Backgrounds.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.contact .max-width{
    margin: auto 0 auto 40px;
}
.contact .contact-content{
    margin-bottom: 100px;
    color: #29D99A;
    text-align: center;
    background-color: rgba(78, 76, 76, 0.904);
    border-radius: 10px;
    height: 300px;
    width: 350px;
    align-items: center;
}
.contact-content h2{
    margin-bottom: 10px;
    color: #d4af37;
}
.line{
    width: 290px;
    height: 4px;
    background: #d4af37;
    margin: 5px auto;
    border-radius: 5px;
}
.contact .contact-content h3{
    color: #000;
    font-size: 4.5vmin;
    font-weight: bolder;
}
img.one{
    margin: 6px;
}


/* Menu */
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/* Mobile device */
@media only screen and (max-width:850px){
    .menu-btn{
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #486872;
        margin-top: -900px;
        transition: all 0.5s ease;
        background-size: cover;
        background-position: center;
    }
    .mobile-menu{
        margin-top: 0px;
    }
    .nav-links li{
        margin: 30px auto;
    }
}